body {
  margin: 0;
   font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 .nav-link{
  margin-left: 17px;
 }

 .nav-link:hover {
  color: #387ed1;
 }

 .nav-link .hanburger-li:hover {
  color: #000;
 }
 
.btn:hover {
  background-color: #222;
  border: none;
  outline: none;
}
.footer-a a{
  text-decoration: none;
  color: #666;

}

.footer-para {
  font-size: smaller;
  color: #9b9b9b;
}

.footer-a a{
  display: inline-block;
  margin-bottom: 10px;
}

/* support SECTION  */

.accordion button{
  border-radius: 1% !important;
}

.accordion button:hover{
  transform: scale(1.01);
  border-left: 1px solid #9b9b9b;
  border-right: 1px solid #9b9b9b;
}

 .accordion-body li{
   color:#397DD0;
   margin: 1.5rem;
}

.accordion-body li:hover{
  color:#424242;
}

.searchBox {
  padding-left: 0px !important;
  padding-right: 0px !important;
  border-radius: 5%;
}

/* home award, stats section css */
@media screen and (max-width: 1200px) {
  .award {
    display: flex;
    flex-direction: column; /* Change to horizontal arrangement */
    justify-content: center; /* Space out the columns */
    align-items: center; /* Align content at the top */
    width: 100%;
    gap: 50px;
  }

  .award-img {
    display: flex;
    flex-direction: column; /* Change to horizontal arrangement */
    justify-content: center; /* Space out the columns */
    align-items: center; /* Align content at the top */
    width: 100%;
  }
   .award-text {
    display: flex;
    flex-direction: column; /* Change to horizontal arrangement */
    justify-content: center; /* Space out the columns */
    align-items: center; /* Align content at the top */
    width: 100%;
     
   }

   .stats {
    display: flex;
    flex-direction: column; /* Change to horizontal arrangement */
    justify-content: center; /* Space out the columns */
    align-items: center; /* Align content at the top */
    width: 100%;
    gap: 50px;
     
   }
   .stats-text {
    display: flex;
    flex-direction: column; /* Change to horizontal arrangement */
    justify-content: center; /* Space out the columns */
    align-items: center; /* Align content at the top */
    width: 100%;
    padding: 0;
    
   }
   .stats-img {
    display: flex;
    flex-direction: column; /* Change to horizontal arrangement */
    justify-content: center; /* Space out the columns */
    align-items: center; /* Align content at the top */
    width: 100%;
   }

   .pricing{
    display: flex;
    flex-direction: column; /* Change to horizontal arrangement */
    justify-content: center; /* Space out the columns */
    align-items: center; /* Align content at the top */
    width: 100%;
    gap: 50px;
   }
   .pricing-text {
     display: flex;
    flex-direction: column; /* Change to horizontal arrangement */
    justify-content: center; /* Space out the columns */
    align-items: center; /* Align content at the top */
    width: 100%;
    padding: 0;
   }
   .pricing-text-img {
     display: flex;
    flex-direction: column; /* Change to horizontal arrangement */
    justify-content: center; /* Space out the columns */
    align-items: center; /* Align content at the top */
    width: 100%;
    padding: 0;
   }
   .education {
     display: flex;
    flex-direction: column; /* Change to horizontal arrangement */
    justify-content: center; /* Space out the columns */
    align-items: center; /* Align content at the top */
    width: 100%;
    gap: 50px;
   }
   .education-img {
     display: flex;
    flex-direction: column; /* Change to horizontal arrangement */
    justify-content: center; /* Space out the columns */
    align-items: center; /* Align content at the top */
    width: 100%;
    padding: 0;
   }
   .education-text {
     display: flex;
    flex-direction: column; /* Change to horizontal arrangement */
    justify-content: center; /* Space out the columns */
    align-items: center; /* Align content at the top */
    width: 100%;
    padding: 0;
   }
}